#root {
  --main-blue: rgba(0, 110, 144, 1);
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  gap: 10px;
  margin: 10px 10px;
}

#flex-container > div {
  flex-basis: 35%;
}

.flex-item {
  /* flex-grow: 0.75; */
  /* width: 700px;
  height: 700px; */
}
