/* General */

:root {
  --main-blue: rgba(0, 110, 144, 1);
  --main-orange: rgba(241, 143, 1, 1);
  background-color: var(--main-blue)

}

:root.signup {
  background-color: var(--main-blue);
}

/* Buttons */

.btn {
  float: right;
  margin-top: 15px;
  font-size: 12px;
  border-color: var(--main-blue);
  color: var(--main-blue)
}

.btn-info {
  float: left;
  background-color: white
}

.btn-slup {
  float: none;
  font-size: 15px;
  border-color: var(--main-orange);
  background-color: var(--main-orange);
  color: white;
  font-weight: bold;
}

.btn-home {
  float: none;
  font-size: 15px;
  border-color: var(--main-orange);
  background-color: var(--main-orange);
  color: white;
  font-weight: bold;
  margin: 30px 10px;
}

.btn-home-su {
  border-color: var(--main-orange);
  background-color: white;
  color: var(--main-orange);
}

.btn:hover {
  background-color: var(--main-blue)!important;
  border-color: var(--main-blue)!important;
  border-color: white!important;
}

.btn-slup:hover {
  background-color: rgb(255, 153, 0)!important;
  border-color: rgb(255, 153, 0)!important;
}

.btn-home-li:hover {
  background-color: rgb(255, 153, 0)!important;
  border-color: rgb(255, 153, 0)!important;
}

.btn-home-su:hover {
  background-color: rgb(255, 153, 0)!important;
  border-color: rgb(255, 153, 0)!important;
}

.btn:focus {
  border-color: var(--main-blue)!important;
  box-shadow: 0px 0px 8px var(--main-blue)!important;
}

.btn-slup:focus {
  border-color: var(--main-orange)!important;
  box-shadow: 0px 0px 8px var(--main-orange)!important;
}

/* Home */

.home-container {
  background-color: var(--main-blue);
  color: white;
  text-align: center;
  position: relative
}

.home-container h1 {
  padding: 70px;
  font-size: 50px;
  font-weight: bold;
}

.home-container p {
  width: 50%;
  margin-left: 24.5%;
}

/* Navbar */

/* Signup and Login */

.slup-container {
  background-color: var(--main-blue);
}

.slup-container h1 {
  padding: 70px;
  font-size: 50px;
  font-weight: bold;
  color:white;
  text-align: center;
}

.slup-form {
  position: relative;
}

.form-floating label {
  margin-left: 35%;
}

.form-control {
  margin-left: 35%;
  width: 30%;
}

.form-control:focus {
  border-color: var(--main-orange)!important;
  box-shadow: 0px 0px 8px var(--main-orange)!important;
}

.btn-form-element {
  margin: 0;
  margin-top: 70px;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* View */

.title {
  color: white;
  text-align: center;
  padding: 30px 0px 55px 0px;
}

#sub {
  vertical-align: sub;
}

.container-view {
 background-color: var(--main-blue);
 padding-bottom: 100px;
}

#flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  text-align: center;
  gap: 30px;
  padding: 10px 10px;
}

#flex-container > div {
  flex-basis: 35%;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

.info-text {
  font-size: 13px;
  margin-top:20px
}